.proposal{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    background-image: url('../../assets/image/proposal-bg.svg');
    background-repeat: no-repeat;
    background-position: top right;
}